*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(102, 94, 94, 0.4), rgba(251, 89, 89, 0.4) ), url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300;
    position: relative;
    height:100vh;
    color:#555;
} 
button {
    position: absolute;
    width:200px;
    left:50%;
    transform: translateX(-50%);
    color:#555;
    background:none;
    border:none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.5s ease, color 0.3s ease;
}

button:hover {
    font-weight:600;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}
i {
    color:#EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s ease;
}
.btn-roll {
    top:405px;
}
.dice {
    position: absolute;
    left: 50%;
    top:178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
}
#dice-1 {
    top:120px;    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #DC3545;
    color: white;
    text-align: center;
}
.footer p{
    padding-top: 15px;
    text-align: center;
    margin-bottom: 8px;
}
.footer p span:hover{
    color: #ff8793;
    cursor: pointer;
}
